<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @cliente.nombre %>
</p>

<p>
  <strong>Nombrecorto:</strong>
  <%= @cliente.nombrecorto %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @cliente.direccion %>
</p>

<p>
  <strong>Referencia:</strong>
  <%= @cliente.referencia %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @cliente.telefono %>
</p>

<p>
  <strong>Cp:</strong>
  <%= @cliente.cp %>
</p>

<p>
  <strong>Credito:</strong>
  <%= @cliente.credito %>
</p>

<p>
  <strong>Limitecredito:</strong>
  <%= @cliente.limitecredito %>
</p>

<p>
  <strong>Status:</strong>
  <%= @cliente.status %>
</p>

<p>
  <strong>Diascreedito:</strong>
  <%= @cliente.diascreedito %>
</p>

<p>
  <strong>Colonia:</strong>
  <%= @cliente.colonia %>
</p>

<p>
  <strong>Tel2:</strong>
  <%= @cliente.tel2 %>
</p>

<p>
  <strong>Email:</strong>
  <%= @cliente.email %>
</p>

<p>
  <strong>Visitaobligada:</strong>
  <%= @cliente.visitaobligada %>
</p>

<p>
  <strong>Firmaobligada:</strong>
  <%= @cliente.firmaobligada %>
</p>

<p>
  <strong>Motivobajaid:</strong>
  <%= @cliente.motivobajaid %>
</p>

<p>
  <strong>Saldo:</strong>
  <%= @cliente.saldo %>
</p>

<p>
  <strong>Horario:</strong>
  <%= @cliente.horario %>
</p>

<p>
  <strong>Idclasc:</strong>
  <%= @cliente.idclasc %>
</p>

<p>
  <strong>Idempresa:</strong>
  <%= @cliente.idempresa %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
