<p id="notice"><%= notice %></p>

<p>
  <strong>Idcliente:</strong>
  <%= @relcliruta.IdCliente %>
</p>

<p>
  <strong>Idruta:</strong>
  <%= @relcliruta.IdRuta %>
</p>

<p>
  <strong>Idempresa:</strong>
  <%= @relcliruta.IdEmpresa %>
</p>

<%= link_to 'Edit', edit_relcliruta_path(@relcliruta) %> |
<%= link_to 'Back', relclirutas_path %>
