<!--<p id="notice"><%= notice %></p>-->
<h1>Generar información para la ruta <%=@ruta.Ruta%> el día <%=params[:id2]%></h1><br>
<style>
.container {
}
</style>

<div class="well center-block">
  <h2>Por favor selecciona la ruta y el día </h2>
  <%= form_for @reldayc, html: {class: "form-horizontal"}, :url => {:action => 'obtener_ruta_y_dia'} do |f| %>

    <div class="form-group">
      <%= f.label :RutaId, "Ruta:", class: "control-label col-md-2" %>
      <div class="col-md-2">
        <%= f.select :RutaId, options_for_select(@rutas.map{|e|[e.Ruta, e.IdRutas]},selected: params[:id]), class: "form-control" %>
      </div>

      <%= f.label :Lunes, "Dia:", class: "control-label col-md-2"  %>
      <div class="col-md-2">
        <%= f.select :Lunes, ['Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado', 'Domingo'],selected: params[:id2], class: "form-control"%>
      </div>
      <div class="col-md-3">
        <%= submit_tag "Buscar", class: "btn btn-primary btn-lg btn-block"%>
      </div>
    </div>


  <%end%>
</div>

<div class="container">
  <!--<div class="row">
    <div class="text-center">
      <!- Button trigger modal ->
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#mynewrelclili">
        Nueva Lista de Descuento
      </button>
    </div>
  </div>-->

  <br>
  <br>
  <div class="well center-block">
    <h2 class="text-center"> Lista de Clientes asignados a la ruta global </h2>

  <table id="superior" class="display"><!--el id clientes es de datatables referenciado en clientes.coffe y display class es una clase de datatables-->
  <thead>

    <tr><!--active es para sombrear la fila-->
      <th>Clave</th>
      <th>Nombre</th>
      <th>Nombre Corto</th>
      <th>Dirección</th>
      <th>Colonia</th>
      <th>Ruta</th>
      <th>Horario</th>
      <th>Acción</th>
      <th></th>

    </tr>
  </thead>
    <tbody id="container_clientes">
      <% @reldaycliglobal.each do |reldayc| %>
      <tr id="global_<%= reldayc.id %>">
          <td><%= reldayc.cliente.IdCli %></td>
          <td><%= reldayc.cliente.Nombre %></td>
          <td><%= reldayc.cliente.NombreCorto %></td>
          <td><%= reldayc.cliente.Direccion %></td>
          <td><%= reldayc.cliente.Colonia %></td>
          <td><%= reldayc.RutaId %></td>
          <td><%= reldayc.cliente.Horario %></td>


          <td>
              <%= form_for(reldayc, :method => :put, remote: true, html: {class: "form-horizontal"}) do |f| %><!--ajax-->

                        <%= f.hidden_field @dia, value: 1 %>

                    <%= submit_tag "Añadir", class: "btn btn-warning btn-xs", data: { disable_with: 'Añadiendo' }%>
              <%end%>


          </td>
          <td>

          </td>

      </tr>
      <%end%>


  </tbody>


  </table>
</div>

    <br>
    <br>
    <div class="well center-block">
    <h2 class="text-center"> Lista de Clientes asignados a la ruta el día <%=params[:id2]%></h2>
    <br>
    <br>
  <table id="inferior" class="display"><!--el id relclilis es de datatables referenciado en relclilis.coffe y display class es una clase de datatables-->
  <thead>

    <tr><!--active es para sombrear la fila-->


      <th>Clave</th>
      <th>Nombre</th>
      <th>Nombre Corto</th>
      <th>Dirección</th>
      <th>Colonia</th>
      <th>Ruta</th>
      <th>Horario</th>
      <th>Secuencia</th>
      <th></th>

    </tr>
  </thead>
    <tbody id="container_reldaycli">
      <%= render @reldaycli %><!--carga todos los productos-->

</tbody>


</table>
<!-- Modal create action -->


</div>
