<p id="notice"><%= notice %></p>

<p>
  <strong>Codcli:</strong>
  <%= @reldayc.CodCli %>
</p>

<p>
  <strong>Lunes:</strong>
  <%= @reldayc.Lunes %>
</p>

<p>
  <strong>Martes:</strong>
  <%= @reldayc.Martes %>
</p>

<p>
  <strong>Miercoles:</strong>
  <%= @reldayc.Miercoles %>
</p>

<p>
  <strong>Jueves:</strong>
  <%= @reldayc.Jueves %>
</p>

<p>
  <strong>Viernes:</strong>
  <%= @reldayc.Viernes %>
</p>

<p>
  <strong>Sabado:</strong>
  <%= @reldayc.Sabado %>
</p>

<p>
  <strong>Domingo:</strong>
  <%= @reldayc.Domingo %>
</p>

<p>
  <strong>Rutaid:</strong>
  <%= @reldayc.RutaId %>
</p>

<p>
  <strong>Idempresa:</strong>
  <%= @reldayc.IdEmpresa %>
</p>

<%= link_to 'Edit', edit_reldayc_path(@reldayc) %> |
<%= link_to 'Back', reldaycli_path %>
