<!--<p id="notice"><%= notice %></p>-->
<h1>Lista de Descuentos</h1>
<style>
.container {
}

</style>
<div class="container">
  <div class="row">
    <div class="text-center">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#mynewslista">
        Nueva Lista de Descuento
      </button>
    </div>
  </div>

  <br>
  <br>



  <table id="listad" class="display"><!--el id listad es de datatables referenciado en listad.coffe y display class es una clase de datatables-->
  <thead>

    <tr><!--active es para sombrear la fila-->
      <th>Lista</th>
      <th>Tipo</th>
      <th>Acción</th>
      <th></th>

    </tr>
  </thead>
    <tbody id="container_listad">
      <%= render @listad %><!--carga todos los listad-->
</tbody>


</table>
<!-- Modal create action -->
<%= form_for(@slista, remote: true, html: {class: "form-horizontal formulario-validado-create"}) do |f| %> <!--ajax remote: true-->
  <div class="modal fade" id="mynewslista" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Agregar Lista de Descuento</h4>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <%= f.label :Lista, "Nombre:", class: "control-label col-md-3 " %>
            <div class="col-md-7">
              <%= f.text_field :Lista, class: "form-control slista_lista",autofocus: true, minlength: "3", required: "true"   %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :Caduca,"Caduca:", class: "control-label col-xs-3 col-sm-6 " %>
            <div class="col-md-1">
              <%= f.check_box :Caduca, class:"slista_caduca" %>
            </div>
        </div>

        <div class="well center-block">
          <div class="form-group">
            <h3 class="col-md-5">Tipo de Lista:</h3>
          </div>

          <div class="form-group">
            <%= f.radio_button(:Tipo, "R", class:"col-xs-2 col-sm-1", :checked => true) %>
            <%= f.label(:Tipo, "Aplica a crédito", class:"col-md-3 ") %>
          </div>

          <div class="form-group">
            <%= f.radio_button(:Tipo, "N", class:"col-xs-2 col-sm-1") %>
            <%= f.label(:Tipo, "Aplica a contado", class:"col-md-3") %>
          </div>

          <div class="form-group">
            <%= f.radio_button(:Tipo, "T", class:"col-xs-2 col-sm-1") %>
            <%= f.label(:Tipo, "Aplica para ambas opciones", class:"col-md-3") %>
          </div>
        </div>

        <div class="well center-block">
          <div class="form-group">
            <h3 class="col-md-5">Rango de Fechas:</h3>
          </div>

          <div class="form-group">
            <%= f.label :FechaIni,"Fecha de inicio:", class: "control-label col-md-3" %>
            <div class="col-md-3">
              <%= f.text_field :FechaIni, class: "form-control datepicker slista_fechaini",required: "true"   %>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :FechaFin,"Fecha de fin:", class: "control-label col-md-3" %>
            <div class="col-md-3">
              <%= f.text_field :FechaFin, class: "form-control datepicker slista_fechafin",required: "true"   %>
            </div>
          </div>
          <%= f.hidden_field :IdEmpresa, value: current_usuario.empresa_id %>
        </div>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" id="mynewslistaclose">Cerrar</button>
          <%= submit_tag "Crear", class: "btn btn-primary", data: { disable_with: 'Creando' }%>
        </div>
      </div>
    </div>
  </div>
<%end%>
</div>
<p>
  Download:
  <%= link_to "CSV", listad_path(format:"csv") %> |
  <%= link_to "Excel", listad_path(format:"xls") %>
</p>
