<p id="notice"><%= notice %></p>

<p>
  <strong>Clave:</strong>
  <%= @cuota.Clave %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @cuota.Descripcion %>
</p>

<p>
  <strong>Unimed:</strong>
  <%= @cuota.UniMed %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @cuota.Cantidad %>
</p>

<p>
  <strong>Fechai:</strong>
  <%= @cuota.FechaI %>
</p>

<p>
  <strong>Fechaf:</strong>
  <%= @cuota.FechaF %>
</p>

<p>
  <strong>Producto:</strong>
  <%= @cuota.Producto %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @cuota.Tipo %>
</p>

<p>
  <strong>Activa:</strong>
  <%= @cuota.Activa %>
</p>

<p>
  <strong>Nivelnum:</strong>
  <%= @cuota.NivelNum %>
</p>

<p>
  <strong>Idempresa:</strong>
  <%= @cuota.IdEmpresa %>
</p>

<%= link_to 'Edit', edit_cuota_path(@cuota) %> |
<%= link_to 'Back', cuotas_path %>
