<p id="notice"><%= notice %></p>

<h1>Listing Relproclas</h1>

<table>
  <thead>
    <tr>
      <th>Productoid</th>
      <th>Clasif</th>
      <th>Nivel</th>
      <th>Dep clasif</th>
      <th>Dep nivel</th>
      <th>Idempresa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @relproclas.each do |relprocla| %>
      <tr>
        <td><%= relprocla.ProductoId %></td>
        <td><%= relprocla.ClasiF %></td>
        <td><%= relprocla.Nivel %></td>
        <td><%= relprocla.Dep_Clasif %></td>
        <td><%= relprocla.Dep_Nivel %></td>
        <td><%= relprocla.IdEmpresa %></td>
        <td><%= link_to 'Show', relprocla %></td>
        <td><%= link_to 'Edit', edit_relprocla_path(relprocla) %></td>
        <td><%= link_to 'Destroy', relprocla, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Relprocla', new_relprocla_path %>
