<p id="notice"><%= notice %></p>

<p>
  <strong>Productoid:</strong>
  <%= @relprocla.ProductoId %>
</p>

<p>
  <strong>Clasif:</strong>
  <%= @relprocla.ClasiF %>
</p>

<p>
  <strong>Nivel:</strong>
  <%= @relprocla.Nivel %>
</p>

<p>
  <strong>Dep clasif:</strong>
  <%= @relprocla.Dep_Clasif %>
</p>

<p>
  <strong>Dep nivel:</strong>
  <%= @relprocla.Dep_Nivel %>
</p>

<p>
  <strong>Idempresa:</strong>
  <%= @relprocla.IdEmpresa %>
</p>

<%= link_to 'Edit', edit_relprocla_path(@relprocla) %> |
<%= link_to 'Back', relproclas_path %>
