<%= form_for(@clascliente) do |f| %>
  <% if @clascliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clascliente.errors.count, "error") %> prohibited this clascliente from being saved:</h2>

      <ul>
      <% @clascliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :IdClasC %><br>
    <%= f.text_field :IdClasC %>
  </div>
  <div class="field">
    <%= f.label :Descripcion %><br>
    <%= f.text_field :Descripcion %>
  </div>
  <div class="field">
    <%= f.label :NivelNum %><br>
    <%= f.text_field :NivelNum %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
