<p id="notice"><%= notice %></p>

<p>
  <strong>Idclasc:</strong>
  <%= @clascliente.IdClasC %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @clascliente.Descripcion %>
</p>

<p>
  <strong>Nivelnum:</strong>
  <%= @clascliente.NivelNum %>
</p>

<%= link_to 'Edit', edit_clascliente_path(@clascliente) %> |
<%= link_to 'Back', clasclientes_path %>
