<%= form_for(@relclili) do |f| %>
  <% if @relclili.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@relclili.errors.count, "error") %> prohibited this relclili from being saved:</h2>

      <ul>
      <% @relclili.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :codcliente %><br>
    <%= f.text_field :codcliente %>
  </div>
  <div class="field">
    <%= f.label :listap %><br>
    <%= f.text_field :listap %>
  </div>
  <div class="field">
    <%= f.label :listad %><br>
    <%= f.text_field :listad %>
  </div>
  <div class="field">
    <%= f.label :listapromo %><br>
    <%= f.text_field :listapromo %>
  </div>
  <div class="field">
    <%= f.label :idempresa %><br>
    <%= f.text_field :idempresa %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
