<p id="notice"><%= notice %></p>

<p>
  <strong>Codcliente:</strong>
  <%= @relclili.codcliente %>
</p>

<p>
  <strong>Listap:</strong>
  <%= @relclili.listap %>
</p>

<p>
  <strong>Listad:</strong>
  <%= @relclili.listad %>
</p>

<p>
  <strong>Listapromo:</strong>
  <%= @relclili.listapromo %>
</p>

<p>
  <strong>Idempresa:</strong>
  <%= @relclili.idempresa %>
</p>

<%= link_to 'Edit', edit_relclili_path(@relclili) %> |
<%= link_to 'Back', relclilis_path %>
