<p id="notice"><%= notice %></p>

<p>
  <strong>Rutaid:</strong>
  <%= @configruta.RutaId %>
</p>

<p>
  <strong>Modelprinter:</strong>
  <%= @configruta.ModelPrinter %>
</p>

<p>
  <strong>Velcom:</strong>
  <%= @configruta.VelCom %>
</p>

<p>
  <strong>Com:</strong>
  <%= @configruta.COM %>
</p>

<p>
  <strong>Server:</strong>
  <%= @configruta.Server %>
</p>

<p>
  <strong>Puerto:</strong>
  <%= @configruta.Puerto %>
</p>

<p>
  <strong>Servergps:</strong>
  <%= @configruta.ServerGPS %>
</p>

<p>
  <strong>Gps:</strong>
  <%= @configruta.GPS %>
</p>

<p>
  <strong>Puertog:</strong>
  <%= @configruta.PuertoG %>
</p>

<p>
  <strong>Pagocontado:</strong>
  <%= @configruta.PagoContado %>
</p>

<p>
  <strong>Ctenvo:</strong>
  <%= @configruta.CteNvo %>
</p>

<p>
  <strong>Cvectenvo:</strong>
  <%= @configruta.CveCteNvo %>
</p>

<p>
  <strong>Idempresa:</strong>
  <%= @configruta.IdEmpresa %>
</p>

<p>
  <strong>Sugerircant:</strong>
  <%= @configruta.SugerirCant %>
</p>

<p>
  <strong>Promoeq:</strong>
  <%= @configruta.PromoEq %>
</p>

<%= link_to 'Edit', edit_configruta_path(@configruta) %> |
<%= link_to 'Back', configrutasp_path %>
