<p id="notice"><%= notice %></p>

<p>
  <strong>Rutaid:</strong>
  <%= @continuid.RutaID %>
</p>

<p>
  <strong>Diao:</strong>
  <%= @continuid.DiaO %>
</p>

<p>
  <strong>Folvta:</strong>
  <%= @continuid.FolVta %>
</p>

<p>
  <strong>Folped:</strong>
  <%= @continuid.FolPed %>
</p>

<p>
  <strong>Foldevol:</strong>
  <%= @continuid.FolDevol %>
</p>

<p>
  <strong>Folcob:</strong>
  <%= @continuid.FolCob %>
</p>

<p>
  <strong>Udiao:</strong>
  <%= @continuid.UDiaO %>
</p>

<p>
  <strong>Ctenvo:</strong>
  <%= @continuid.CteNvo %>
</p>

<p>
  <strong>Idempresa:</strong>
  <%= @continuid.IdEmpresa %>
</p>

<%= link_to 'Edit', edit_continuid_path(@continuid) %> |
<%= link_to 'Back', continuidad_path %>
