<p id="notice"><%= notice %></p>

<p>
  <strong>Clave:</strong>
  <%= @vehiculo.clave %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @vehiculo.modelo %>
</p>

<p>
  <strong>Placas:</strong>
  <%= @vehiculo.placas %>
</p>

<p>
  <strong>Marcas:</strong>
  <%= @vehiculo.marcas %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @vehiculo.descripcion %>
</p>

<p>
  <strong>Status:</strong>
  <%= @vehiculo.status %>
</p>

<p>
  <strong>Numeroeco:</strong>
  <%= @vehiculo.numeroeco %>
</p>

<p>
  <strong>Asignado:</strong>
  <%= @vehiculo.asignado %>
</p>

<p>
  <strong>Poliza:</strong>
  <%= @vehiculo.poliza %>
</p>

<p>
  <strong>Telseguro:</strong>
  <%= @vehiculo.telseguro %>
</p>

<p>
  <strong>Mesverifica:</strong>
  <%= @vehiculo.mesverifica %>
</p>

<p>
  <strong>Kilometraje:</strong>
  <%= @vehiculo.kilometraje %>
</p>

<p>
  <strong>Kilometrajesem:</strong>
  <%= @vehiculo.kilometrajesem %>
</p>

<p>
  <strong>Aseguradora:</strong>
  <%= @vehiculo.aseguradora %>
</p>

<p>
  <strong>Fechavencseguro:</strong>
  <%= @vehiculo.fechavencseguro %>
</p>

<p>
  <strong>Fechaultverif:</strong>
  <%= @vehiculo.fechaultverif %>
</p>

<%= link_to 'Edit', edit_vehiculo_path(@vehiculo) %> |
<%= link_to 'Back', vehiculos_path %>
