<%= form_for(@list) do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% @list.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :lista %><br>
    <%= f.text_field :lista %>
  </div>
  <div class="field">
    <%= f.label :tipo %><br>
    <%= f.check_box :tipo %>
  </div>
  <div class="field">
    <%= f.label :fechaini %><br>
    <%= f.datetime_select :fechaini %>
  </div>
  <div class="field">
    <%= f.label :fechafin %><br>
    <%= f.datetime_select :fechafin %>
  </div>
  <div class="field">
    <%= f.label :idempresa %><br>
    <%= f.text_field :idempresa %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
