<p id="notice"><%= notice %></p>

<p>
  <strong>Mvodev:</strong>
  <%= @mvodevolucion.MvoDev %>
</p>

<p>
  <strong>Clave:</strong>
  <%= @mvodevolucion.Clave %>
</p>

<p>
  <strong>Status:</strong>
  <%= @mvodevolucion.Status %>
</p>

<%= link_to 'Edit', edit_mvodevolucion_path(@mvodevolucion) %> |
<%= link_to 'Back', mvodev_path %>
