<p id="notice"><%= notice %></p>

<p>
  <strong>Altas:</strong>
  <%= @perfil.Altas %>
</p>

<p>
  <strong>Bajas:</strong>
  <%= @perfil.Bajas %>
</p>

<p>
  <strong>Modi:</strong>
  <%= @perfil.Modi %>
</p>

<p>
  <strong>Listar:</strong>
  <%= @perfil.Listar %>
</p>

<p>
  <strong>Modulo:</strong>
  <%= @perfil.Modulo %>
</p>

<p>
  <strong>Iduser:</strong>
  <%= @perfil.IdUser %>
</p>

<p>
  <strong>Aceso:</strong>
  <%= @perfil.Aceso %>
</p>

<p>
  <strong>Codigo:</strong>
  <%= @perfil.Codigo %>
</p>

<p>
  <strong>Usapw:</strong>
  <%= @perfil.usaPW %>
</p>

<p>
  <strong>Otro:</strong>
  <%= @perfil.Otro %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @perfil.Descripcion %>
</p>

<%= link_to 'Edit', edit_perfil_path(@perfil) %> |
<%= link_to 'Back', perfiles_path %>
