<p id="notice"><%= notice %></p>

<p>
  <strong>Lista:</strong>
  <%= @listaprom.Lista %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @listaprom.Descripcion %>
</p>

<p>
  <strong>Caduca:</strong>
  <%= @listaprom.Caduca %>
</p>

<p>
  <strong>Fechai:</strong>
  <%= @listaprom.FechaI %>
</p>

<p>
  <strong>Fechaf:</strong>
  <%= @listaprom.FechaF %>
</p>

<p>
  <strong>Grupo:</strong>
  <%= @listaprom.Grupo %>
</p>

<p>
  <strong>Activa:</strong>
  <%= @listaprom.Activa %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @listaprom.Tipo %>
</p>

<p>
  <strong>Idempresa:</strong>
  <%= @listaprom.IdEmpresa %>
</p>


<%= link_to 'Edit', edit_listaprom_path(@listaprom) %> |
<%= link_to 'Back', listapromo_path %>
