<p id="notice"><%= notice %></p>

<p>
  <strong>Rutaid:</strong>
  <%= @relrucla.RutaId %>
</p>

<p>
  <strong>Clas1:</strong>
  <%= @relrucla.Clas1 %>
</p>

<p>
  <strong>Clas2:</strong>
  <%= @relrucla.Clas2 %>
</p>

<p>
  <strong>Clas3:</strong>
  <%= @relrucla.Clas3 %>
</p>

<p>
  <strong>Clas4:</strong>
  <%= @relrucla.Clas4 %>
</p>

<p>
  <strong>Clas5:</strong>
  <%= @relrucla.Clas5 %>
</p>

<p>
  <strong>Idempresa:</strong>
  <%= @relrucla.IdEmpresa %>
</p>

<%= link_to 'Edit', edit_relrucla_path(@relrucla) %> |
<%= link_to 'Back', relruclas_path %>
