<p id="notice"><%= notice %></p>

<p>
  <strong>Ruta:</strong>
  <%= @ruta.Ruta %>
</p>

<p>
  <strong>Activa:</strong>
  <%= @ruta.Activa %>
</p>

<p>
  <strong>Tiporuta:</strong>
  <%= @ruta.TipoRuta %>
</p>

<p>
  <strong>Vensinstock:</strong>
  <%= @ruta.VenSinStock %>
</p>

<p>
  <strong>Oficina:</strong>
  <%= @ruta.Oficina %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @ruta.Sector %>
</p>

<p>
  <strong>Vendedor:</strong>
  <%= @ruta.Vendedor %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @ruta.Tipo %>
</p>

<p>
  <strong>Id ayudante1:</strong>
  <%= @ruta.id_ayudante1 %>
</p>

<p>
  <strong>Id ayudante2:</strong>
  <%= @ruta.id_ayudante2 %>
</p>

<p>
  <strong>Vendedorayudante:</strong>
  <%= @ruta.VendedorAyudante %>
</p>

<p>
  <strong>Foranea:</strong>
  <%= @ruta.Foranea %>
</p>

<p>
  <strong>Vehiculo:</strong>
  <%= @ruta.vehiculo %>
</p>

<p>
  <strong>Idcrutas:</strong>
  <%= @ruta.idcrutas %>
</p>

<p>
  <strong>Idempresa:</strong>
  <%= @ruta.IdEmpresa %>
</p>

<%= link_to 'Edit', edit_ruta_path(@ruta) %> |
<%= link_to 'Back', rutas_path %>
