<p id="notice"><%= notice %></p>

<h1>Listing Productosxpzas</h1>

<table>
  <thead>
    <tr>
      <th>Producto</th>
      <th>Pzaxcja</th>
      <th>Idempresa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @productosxpzas.each do |productosxpza| %>
      <tr>
        <td><%= productosxpza.Producto %></td>
        <td><%= productosxpza.PzaXCja %></td>
        <td><%= productosxpza.IdEmpresa %></td>
        <td><%= link_to 'Show', productosxpza %></td>
        <td><%= link_to 'Edit', edit_productosxpza_path(productosxpza) %></td>
        <td><%= link_to 'Destroy', productosxpza, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Productosxpza', new_productosxpza_path %>
