<p id="notice"><%= notice %></p>

<p>
  <strong>Producto:</strong>
  <%= @productosxpza.Producto %>
</p>

<p>
  <strong>Pzaxcja:</strong>
  <%= @productosxpza.PzaXCja %>
</p>

<p>
  <strong>Idempresa:</strong>
  <%= @productosxpza.IdEmpresa %>
</p>

<%= link_to 'Edit', edit_productosxpza_path(@productosxpza) %> |
<%= link_to 'Back', productosxpzas_path %>
