<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @listapromomast.Id %>
</p>

<p>
  <strong>Listamaster:</strong>
  <%= @listapromomast.ListaMaster %>
</p>

<p>
  <strong>Promociones:</strong>
  <%= @listapromomast.Promociones %>
</p>

<p>
  <strong>Idempresa:</strong>
  <%= @listapromomast.IdEmpresa %>
</p>

<%= link_to 'Edit', edit_listapromomast_path(@listapromomast) %> |
<%= link_to 'Back', listapromomaster_path %>
