<p id="notice"><%= notice %></p>

<p>
  <strong>Id comision:</strong>
  <%= @tdcomision.ID_Comision %>
</p>

<p>
  <strong>Rangoini:</strong>
  <%= @tdcomision.RangoIni %>
</p>

<p>
  <strong>Rangofin:</strong>
  <%= @tdcomision.RangoFin %>
</p>

<p>
  <strong>Angente:</strong>
  <%= @tdcomision.Angente %>
</p>

<p>
  <strong>Ayudante:</strong>
  <%= @tdcomision.Ayudante %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @tdcomision.Tipo %>
</p>

<p>
  <strong>Idempresa:</strong>
  <%= @tdcomision.IdEmpresa %>
</p>

<%= link_to 'Edit', edit_tdcomision_path(@tdcomision) %> |
<%= link_to 'Back', td_comision_path %>
