<%= form_for(@deta) do |f| %>
  <% if @deta.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@deta.errors.count, "error") %> prohibited this deta from being saved:</h2>

      <ul>
      <% @deta.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :listaid %><br>
    <%= f.text_field :listaid %>
  </div>
  <div class="field">
    <%= f.label :articulo %><br>
    <%= f.text_field :articulo %>
  </div>
  <div class="field">
    <%= f.label :preciomin %><br>
    <%= f.text_field :preciomin %>
  </div>
  <div class="field">
    <%= f.label :preciomax %><br>
    <%= f.text_field :preciomax %>
  </div>
  <div class="field">
    <%= f.label :idempresa %><br>
    <%= f.text_field :idempresa %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
