<!--<p id="notice"><%= notice %></p>-->
<h1>Admn productos de la Lista de Precios</h1><br>
<style>
.container {
}

</style>
<div class="container">
  <!--<div class="row">
    <div class="text-center">
      <!- Button trigger modal ->
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#mynewdeta">
        Nueva Lista de Descuento
      </button>
    </div>
  </div>-->

  <br>
  <br>
  <div class="well center-block">
    <h2 class="text-center"> Lista de Productos </h2>

  <table id="productos" class="display"><!--el id productos es de datatables referenciado en productos.coffe y display class es una clase de datatables-->
  <thead>

    <tr><!--active es para sombrear la fila-->
      <th>Clave</th>
      <th>Producto</th>
      <th>Codbarras</th>
      <th>Sector</th>
      <th>P lista</th>
      <th>Acci칩n</th>
      <th></th>

    </tr>
  </thead>
    <tbody id="container_productos">
      <% @productos.each do |producto| %>
      <tr id="producto_<%= producto.id %>">

          <td><%= producto.Clave %>

            <!--Modal - create deta-->
            <%= form_for(@deta, remote: true, html: {class: "form-horizontal formulario-validado-create#{producto.id}"}) do |f| %> <!--ajax remote: true-->

            <div nohidden class="modal fade si" id="myproductadder_<%= producto.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Registrando precio al producto <%= producto.id%></h4>
                  </div>

                  <div class="modal-body">

                  <h4 class="text-center">Datos del Producto</h4><br>

                    <div class="form-group">
                      <p class="control-label col-md-3">Producto Clave:</p>
                      <div class="control-label col-md-1" style="font-weight: bold">
                        <%= producto.Clave %>
                      </div>
                      <p class="control-label col-md-4">Nombre del Producto:</p>
                      <div class="control-label col-md-4" style="font-weight: bold">
                        <%= producto.Producto %>
                      </div>
                    </div>
                    <%if @list.Tipo == TRUE %>
                      <div class="well center-block">
                        <div class="form-group">
                          <%= f.label :PrecioMin, "Precio:", class:"control-label col-md-4" %>

                          <div class="col-md-5">
                            <div class="input-group">
                              <%= f.number_field :PrecioMin, class:"form-control deta_preciomin",autofocus: true, minlength: "1", required: "true" %>
                            </div>
                          </div>
                        </div>
                      </div>

                    <%else%>
                      <div class="well center-block">
                        <div class="form-group">
                          <%= f.label :PrecioMin, "Precio Minimo:", class:"control-label col-md-4" %>

                          <div class="col-md-5">
                            <div class="input-group">
                              <%= f.number_field :PrecioMin, class:"form-control deta_preciomin",autofocus: true, minlength: "1", required: "true" %>
                            </div>
                          </div>
                        </div>

                          <div class="form-group">
                            <%= f.label :PrecioMax, "Precio Maximo:", class:"control-label col-md-4" %>

                            <div class="col-md-5">
                              <div class="input-group">
                                <%= f.number_field :PrecioMax, class:"form-control deta_preciomax", minlength: "1", required: "true" %>
                              </div>
                            </div>
                          </div>
                      </div>
                    <%end%>

                    <div class="field">
                      <%= f.hidden_field :ListaId, value: params[:id]  %>
                    </div>
                    <div class="field">
                      <%= f.hidden_field :Articulo, value: producto.id%>
                    </div>
                    <div class="field">
                      <%= f.hidden_field :IdEmpresa, value: current_usuario.empresa_id %>
                    </div>

                  </div>

                  <div class="modal-footer">
                    <button type="button" id="myupdatebutton_<%= producto.id %>" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <%= submit_tag "Crear", class: "btn btn-primary", data: { disable_with: 'Creando' }%>
                  </div>
                </div>
              </div>
            </div>
          <%end%>

          <script>
            $(".formulario-validado-create<%=producto.id%>").validate();

          </script>
        </td>
          <td><%= producto.Producto %></td>
          <td><%= producto.CodBarras %></td>
          <td><%= producto.Sector %></td>
          <td><%= producto.VBase %></td>
          <td>
            <button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#myproductadder_<%= producto.id %>">
            A침adir
            </button>
          </td>


          <td>

          </td>


      </tr>
      <%end%>


  </tbody>


  </table>
</div>

    <br>
    <br>
    <div class="well center-block">
    <h2 class="text-center"> Productos A침adidos a la Lista</h2>
    <br>
    <br>
  <table id="detallelp" class="display"><!--el id detallelp es de datatables referenciado en detallelp.coffe y display class es una clase de datatables-->
  <thead>

    <tr><!--active es para sombrear la fila-->


      <th>Clave</th>
      <th>Producto</th>
      <th>Precio minimo</th>
      <th>Precio maximo</th>
      <th>CodBarras</th>
      <th>Acci칩n</th>
      <th></th>

    </tr>
  </thead>
    <tbody id="container_detallelp">
      <%= render @detallelp %><!--carga todos los detallelp-->
</tbody>


</table>
<!-- Modal create action -->

</div>
</div>
