<p id="notice"><%= notice %></p>

<p>
  <strong>Listaid:</strong>
  <%= @deta.listaid %>
</p>

<p>
  <strong>Articulo:</strong>
  <%= @deta.articulo %>
</p>

<p>
  <strong>Preciomin:</strong>
  <%= @deta.preciomin %>
</p>

<p>
  <strong>Preciomax:</strong>
  <%= @deta.preciomax %>
</p>

<p>
  <strong>Idempresa:</strong>
  <%= @deta.idempresa %>
</p>

<%= link_to 'Edit', edit_deta_path(@deta) %> |
<%= link_to 'Back', detallelp_path %>
