<!--<p id="notice"><%= notice %></p>-->
<h1>Productos inactivos</h1>
<style>
.container {
  width: 100%;
}

</style>


  <br>
  <br>



  <table id="productos" class="display"><!--el id productos es de datatables referenciado en productos.coffe y display class es una clase de datatables-->
  <thead>

    <tr><!--active es para sombrear la fila-->
      <th>Clave</th>
      <th>Producto</th>
      <th>Sector</th>
      <th>Codbarras</th>
      <th>Vbase</th>
      <th>Iva</th>
      <th>Ban envase</th>
      <th>Unimed</th>
      <th>Foto</th>
      <th>Acciones</th>
      <th></th>

    </tr>
  </thead>
    <tbody id="container_productos">
      <%= render @productos %><!--carga todos los productos-->
</tbody>


</table>


<p>
  Download:
  <%= link_to "CSV", productos_path(format:"csv") %> |
  <%= link_to "Excel", productos_path(format:"xls") %>
</p>
<button type="button" class="btn btn-info btn-xs" data-toggle="modal" data-target="#myimportdata">
  Importar Excel
</button>


<div class="modal fade" id="myimportdata" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Importar Datos</h4>
      </div>
      <div class="modal-body">
        <p>
          Nota: El formato excel a exportar debe ser .xlsx รณ .csv
        </p>
        <%= form_tag import_productos_path, multipart: true do %>
          <%= file_field_tag :file %>


      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="myimportdataclose">Close</button>
        <%= submit_tag "Importar", class: "btn btn-primary", data: { disable_with: 'Importando' } %>
      <% end %>
      </div>
    </div>
  </div>
</div>
<%= link_to 'Volver a Productos', productos_path, class: "btn btn-primary btn-lg" %>
