<tr id="abono_<%= detalleco.id %>">
  <td><%= detalleco.Abono %></td>
  <td><%= detalleco.Fecha.strftime("%d-%m-%Y") %></td>
  <td><%= detalleco.SaldoAnt %></td>
  <td><%= detalleco.Saldo %></td>
  <td><%= detalleco.formapag.Forma %></td>
</tr>
