<p id="notice"><%= notice %></p>

<p>
  <strong>Idcobranza:</strong>
  <%= @detalleco.IdCobranza %>
</p>

<p>
  <strong>Abono:</strong>
  <%= @detalleco.Abono %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @detalleco.Fecha %>
</p>

<p>
  <strong>Rutaid:</strong>
  <%= @detalleco.RutaId %>
</p>

<p>
  <strong>Saldoant:</strong>
  <%= @detalleco.SaldoAnt %>
</p>

<p>
  <strong>Saldo:</strong>
  <%= @detalleco.Saldo %>
</p>

<p>
  <strong>Formap:</strong>
  <%= @detalleco.FormaP %>
</p>

<p>
  <strong>Diao:</strong>
  <%= @detalleco.DiaO %>
</p>

<p>
  <strong>Documento:</strong>
  <%= @detalleco.Documento %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @detalleco.Cliente %>
</p>

<p>
  <strong>Idempresa:</strong>
  <%= @detalleco.IdEmpresa %>
</p>

<p>
  <strong>Cancelada:</strong>
  <%= @detalleco.Cancelada %>
</p>

<%= link_to 'Edit', edit_detalleco_path(@detalleco) %> |
<%= link_to 'Back', detallecob_path %>
