<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @vendedor.nombre %>
</p>

<p>
  <strong>Status:</strong>
  <%= @vendedor.status %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @vendedor.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @vendedor.telefono %>
</p>

<p>
  <strong>Pdapw:</strong>
  <%= @vendedor.pdapw %>
</p>

<p>
  <strong>Numlicencia:</strong>
  <%= @vendedor.numlicencia %>
</p>

<p>
  <strong>Metadiaria:</strong>
  <%= @vendedor.metadiaria %>
</p>

<p>
  <strong>Metames:</strong>
  <%= @vendedor.metames %>
</p>

<p>
  <strong>Movil:</strong>
  <%= @vendedor.movil %>
</p>

<p>
  <strong>Vencelic:</strong>
  <%= @vendedor.vencelic %>
</p>

<p>
  <strong>Clave:</strong>
  <%= @vendedor.clave %>
</p>

<%= link_to 'Edit', edit_vendedor_path(@vendedor) %> |
<%= link_to 'Back', vendedores_path %>
