<p id="notice"><%= notice %></p>

<p>
  <strong>Merma:</strong>
  <%= @mvmerma.merma %>
</p>

<p>
  <strong>Clave:</strong>
  <%= @mvmerma.clave %>
</p>

<p>
  <strong>Status:</strong>
  <%= @mvmerma.status %>
</p>

<%= link_to 'Edit', edit_mvmerma_path(@mvmerma) %> |
<%= link_to 'Back', mvomerma_path %>
