<p id="notice"><%= notice %></p>

<p>
  <strong>Articulo:</strong>
  <%= @detalleprom.Articulo %>
</p>

<p>
  <strong>Promoid:</strong>
  <%= @detalleprom.PromoId %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @detalleprom.Cantidad %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @detalleprom.Tipo %>
</p>

<p>
  <strong>Tipoprom:</strong>
  <%= @detalleprom.TipoProm %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @detalleprom.Monto %>
</p>

<p>
  <strong>Volumen:</strong>
  <%= @detalleprom.Volumen %>
</p>

<p>
  <strong>Tipmed:</strong>
  <%= @detalleprom.TipMed %>
</p>

<p>
  <strong>Idempresa:</strong>
  <%= @detalleprom.IdEmpresa %>
</p>

<p>
  <strong>Nivel:</strong>
  <%= @detalleprom.Nivel %>
</p>

<%= link_to 'Edit', edit_detalleprom_path(@detalleprom) %> |
<%= link_to 'Back', detallepromo_path %>
