<p id="notice"><%= notice %></p>

<p>
  <strong>Rutad:</strong>
  <%= @secruta.Rutad %>
</p>

<p>
  <strong>Lunes:</strong>
  <%= @secruta.Lunes %>
</p>

<p>
  <strong>Martes:</strong>
  <%= @secruta.Martes %>
</p>

<p>
  <strong>Miercoles:</strong>
  <%= @secruta.Miercoles %>
</p>

<p>
  <strong>Jueves:</strong>
  <%= @secruta.Jueves %>
</p>

<p>
  <strong>Viernes:</strong>
  <%= @secruta.Viernes %>
</p>

<p>
  <strong>Sabado:</strong>
  <%= @secruta.Sabado %>
</p>

<p>
  <strong>Domingo:</strong>
  <%= @secruta.Domingo %>
</p>

<p>
  <strong>Idempresa:</strong>
  <%= @secruta.IdEmpresa %>
</p>

<%= link_to 'Edit', edit_secruta_path(@secruta) %> |
<%= link_to 'Back', secrutas_path %>
