<p id="notice"><%= notice %></p>

<p>
  <strong>Empresamadre:</strong>
  <%= @empresamadre.EmpresaMadre %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @empresamadre.Telefono %>
</p>

<p>
  <strong>Contacto:</strong>
  <%= @empresamadre.Contacto %>
</p>

<p>
  <strong>Email:</strong>
  <%= @empresamadre.Email %>
</p>

<p>
  <strong>Rcf:</strong>
  <%= @empresamadre.RCF %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @empresamadre.Direccion %>
</p>

<%= link_to 'Edit', edit_empresamadre_path(@empresamadre) %> |
<%= link_to 'Back', empresasmadre_path %>
