<p id="notice"><%= notice %></p>

<p>
  <strong>Idlm:</strong>
  <%= @detallelpromast.IdLm %>
</p>

<p>
  <strong>Idpromo:</strong>
  <%= @detallelpromast.IdPromo %>
</p>

<p>
  <strong>Idempresa:</strong>
  <%= @detallelpromast.IdEmpresa %>
</p>

<%= link_to 'Edit', edit_detallelpromast_path(@detallelpromast) %> |
<%= link_to 'Back', detallelpromaster_path %>
