<p id="notice"><%= notice %></p>

<p>
  <strong>Idcrutas:</strong>
  <%= @clasruta.IdCRutas %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @clasruta.Descripcion %>
</p>

<p>
  <strong>Nivelnum:</strong>
  <%= @clasruta.NivelNum %>
</p>

<%= link_to 'Edit', edit_clasruta_path(@clasruta) %> |
<%= link_to 'Back', clasrutas_path %>
