<!--<p id="notice"><%= notice %></p>-->
<h1>Admn Rutas al Mensaje</h1><br>
<style>
.container {
}

</style>
<div class="container">
  <!--<div class="row">
    <div class="text-center">
      <!- Button trigger modal ->
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#mynewrelmen">
        Nueva Lista de Descuento
      </button>
    </div>
  </div>-->

  <br>
  <br>
  <div class="well center-block">
    <h2 class="text-center"> Lista de Rutas </h2>

  <table id="rutas" class="display"><!--el id rutas es de datatables referenciado en rutas.coffe y display class es una clase de datatables-->
  <thead>

    <tr><!--active es para sombrear la fila-->
      <th>Clave</th>
      <th>Ruta</th>
      <th>TipoRuta</th>
      <th>Sector</th>
      <th>Vendedor</th>
      <th>Status</th>
      <th>Tipo</th>
      <th>Acción</th>
      <th></th>

    </tr>
  </thead>
    <tbody id="container_rutas">
      <% @rutas.each do |ruta| %>
      <tr id="ruta_<%= ruta.id %>">
          <td><%= ruta.id %></td>
          <td><%= ruta.Ruta %></td>
          <td><%= ruta.TipoRuta %></td>
          <td><%= ruta.Sector %></td>
          <td><%= ruta.Vendedor %></td>
          <td><%= ruta.Activa %></td>
          <td><%= ruta.Activa %></td>


          <td>
              <!--Modal - create relclili-->
              <%= form_for(@relmen, remote: true, html: {class: "form-horizontal"}) do |f| %> <!--ajax remote: true-->

                      <div class="field">
                        <%= f.hidden_field :IdRuta, value: params[:id]  %>
                      </div>
                      <div class="field">
                        <%= f.hidden_field :CodRuta, value: ruta.id%>
                      </div>
                      <div class="field">
                        <%= f.hidden_field :IdEmpresa, value: current_usuario.empresa_id %>

                      </div>

                    </div>

                    <%= submit_tag "Añadir", class: "btn btn-warning btn-xs, data: { disable_with: 'Añadiendo' }"%>
            <%end%>
          </td>

          <td></td>

      </tr>
      <%end%>


  </tbody>


  </table>
</div>

    <br>
    <br>
    <div class="well center-block">
    <h2 class="text-center"> Rutas Añadidas al Mensaje</h2>
    <br>
    <br>
  <table id="relmens" class="display"><!--el id relmens es de datatables referenciado en relmens.coffe y display class es una clase de datatables-->
    <thead>

      <tr><!--active es para sombrear la fila-->


        <th>Clave</th>
        <th>Ruta</th>
        <th>TipoRuta</th>
        <th>Sector</th>
        <th>Vendedor</th>
        <th>Status</th>
        <th>Tipo</th>
        <th>Acción</th>
        <th></th>

      </tr>
    </thead>
    <tbody id="container_relmens">
      <%= render @relmens %><!--carga todos los relclilis-->


    </tbody>
  </table>
<!-- Modal create action -->

</div>
</div>
