<p id="notice"><%= notice %></p>

<p>
  <strong>Menid:</strong>
  <%= @relmen.MenId %>
</p>

<p>
  <strong>Codcliente:</strong>
  <%= @relmen.CodCliente %>
</p>

<p>
  <strong>Idcliente:</strong>
  <%= @relmen.IdCliente %>
</p>

<p>
  <strong>Codproducto:</strong>
  <%= @relmen.CodProducto %>
</p>

<p>
  <strong>Idproducto:</strong>
  <%= @relmen.IdProducto %>
</p>

<p>
  <strong>Codruta:</strong>
  <%= @relmen.CodRuta %>
</p>

<p>
  <strong>Idruta:</strong>
  <%= @relmen.IdRuta %>
</p>

<p>
  <strong>Idempresa:</strong>
  <%= @relmen.IdEmpresa %>
</p>

<%= link_to 'Edit', edit_relmen_path(@relmen) %> |
<%= link_to 'Back', relmens_path %>
